<!DOCTYPE html>
<html ng-app="myapp">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Page Source Code Viewer : @sekimura</title>
  <link rel="stylesheet" href="style.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="FetcherCtrl">
  <div class="outer">
    <div class="inner">
      <h1>Web Page Source Code Viewer : @sekimura</h1>
      <form name="urlInputForm">
        <div>Enter Web Page URL:</div>
        <input ng-model="url" type="url" required>
        <button class="fetch-btn" ng-click="fetch()" ng-disabled="urlInputForm.$invalid">Fetch</button>
      </form>
      <div ng-if="error" class="error">
        <p ng-bind="error"></p>
      </div>
      <div ng-if="fetching">
        <p>Fetching...</p>
      </div>
      <div ng-if="result" class="result">
        <h2>Result</h2>
        <p>click buttons to highlight tags</p>
        <div class="highlighter-container">
          <button ng-class="{'highlighted': highlighted == stat.Name}"
            class="tag-highlighter" ng-repeat="stat in result.Summary | orderBy:['Count', 'Name']:true" ng-bind="stat.Name + '(' + stat.Count + ')'" ng-click="highlight(stat.Name)"></button>
        </div>
        <div class="lines-container">
          <ol id="source" class="lines">
            <li class="line" ng-repeat="line in result.Lines track by $index">
              <fetch-result-line highlighted="highlighted" line="line"></fetch-result-line>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
